<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    <supportedRuntime version="v2.0.50727"/></startup>
    <appSettings>
      <add key="pgbin" value="D:\pyworkspace\GreenOpenERP-Win-X86-trunk-wms\pgsql\bin" />
      <add key="pgdata" value="D:\pyworkspace\GreenOpenERP-Win-X86-trunk-wms\pgsql\data" />
    </appSettings>  
</configuration>
